/********************  Boaz formating start **********************/

body {
  max-width: 2570px;
  margin: auto;
}

body,
input,
textarea,
button {
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 13px;
  background: white;
  border-left: 0 solid white;
  border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #428af5, #428af5, #428af5);
  background-size: 180% 180%;
  width: 0;
  height: 25%;
  animation: gradient-animation 5s ease infinite;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h2,
h3,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
}

button {
  background-color: transparent;
  border: 0;
}

ul {
  list-style: none;
}

.cursor {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.grid-2,
.grid-3,
.grid-6,
.grid-7 {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.float-right {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.t-end {
  text-align: end;
}

.t-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.animate-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.bg-color-w {
  background-color: #fff;
}

.text-color {
  color: #1e1e1e;
}

.text-color-w {
  color: #fff;
}

.linear-font {
  background: linear-gradient(100deg, #428af5, #428af5, #428af5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

.f-800 {
  font-weight: 800;
}

/********************   Animation formating start **********************/

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/********************   Animation formating end **********************/

/********************  Identical instructions start **********************/

.slider-content__img,
.services-content__linkItextBox__content__img,
.services-content__linkItextBox__content__tBox,
.prices-content__iTextBox__div__prices-box,
.page-information-content__blog-content__gBox__iTextBox__img {
  width: 100%;
}

.services-content__linkItextBox__content__img {
  height: 100%;
}

.services-content__iTextBox-content {
  align-items: center;
}

.services-content__iTextBox,
.services-content__linkItextBox,
.prices-content__iTextBox,
.page-information-content__blog-content__gBox {
  gap: 1em;
}

.services-content__iTextBox-content,
.page-information-content__iTextBox,
.prices-content__iTextBox__div,
.page-information-content__blog-content__gBox__iTextBox__tBox,
.page-information-content__blog-content__gBox__iTextBox__img {
  box-shadow: 0em 0.25em 0.8em 0em rgba(0, 0, 0, 0.1);
}

.services-content__h3,
.prices-content__h3,
.page-information-content__blog-content__h3 {
  margin: 3.2% 0 4.2% 0;
}

.services-content__iTextBox-content {
  border-radius: 1.7em;
}

.prices-content__iTextBox__div__prices-box {
  background: #428af5;
}

.prices-content,
.page-information-content--bg {
  background-size: cover;
}

.page-information-content__iTextBox--format,
.page-information-content__blog-content__gBox__iTextBox__tBox {
  text-align: left;
}

.page-information-content__blog-content__gBox__iTextBox__tBox {
  background: #1f447a;
}

.prices-content__iTextBox__div__prices-box,
.page-information-content__blog-content__gBox__iTextBox__tBox {
  border-bottom-left-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
}

.page-information-content__blog-content__gBox__iTextBox__img {
  border-top-left-radius: 3.5em;
  border-top-right-radius: 3.5em;
}

/********************  Identical instructions end **********************/

/********************  Header formating start **********************/

.header {
  height: 0;
  z-index: 10;
}

.header-content {
  padding: 1em 7em;
}

.header-content,
.header-content__nav-box,
.menu__list {
  align-items: center;
}

.header-content__logo-box {
  width: 10%;
}

.header-content__nav-box {
  width: 90%;
  justify-content: end;
  padding-right: 1.5em;
}

.header-content__logo-box__link__img {
  width: 55%;
}

.menu__list {
  padding: 0;
  justify-content: end;
}

.menu__item {
  padding-left: 2em;
}

.menu__list__li__img {
  width: 45%;
}

/********************  Header formating end **********************/

/********************  Slider formating start **********************/

.slider-content__tBox {
  bottom: 15%;
  left: 9%;
  width: 33em;
}

.slider-content__tBox__h5 {
  width: max-content;
  padding: 0.5em 1em;
}

/********************  Slider formating end **********************/

/********************  Services formating start **********************/

.services-content {
  padding: 0 4%;
}

.services-content__iTextBox-content {
  padding: 2% 7%;
}

.services-content__iTextBox-content__iBox__img {
  width: 3em;
}

.services-content__iTextBox-content__tBox {
  padding-left: 1em;
}

.services-content__linkItextBox {
  padding: 0 7%;
}

.services-content__linkItextBox__content__tBox {
  background-color: rgba(30, 30, 30, 0.6);
  bottom: 0;
  padding: 9%;
  border-radius: 0em 0em 1.3em 1.3em;
}

/********************  Services formating end **********************/

/********************  Page information formating start **********************/

.page-information-content {
  padding: 9% 4% 0 4%;
}

.page-information-content__img {
  width: 70%;
}

.page-information-content__iTextBox {
  border-radius: 5em;
}

.page-information-content__iTextBox {
  width: 45%;
  padding: 4% 4% 5% 4%;
  top: 7%;
  right: 4%;
}

.page-information-content--bg {
  background-image: url(/img/page-information/page-information-bg.webp);
  margin-top: -20%;
}

.page-information-content__iTextBox--format {
  right: unset;
  top: -11%;
}

.page-information-content--format {
  padding: 0 4% 0 4%;
}

/********************  Blog start **********************/

.page-information-content__blog-content__gBox__iTextBox__img {
  height: 60%;
}

.page-information-content__blog-content__gBox__iTextBox__tBox {
  margin-top: -13px;
  padding: 7% 7% 7% 7%;
}

.page-information-content__blog-content__gBox__iTextBox__tBox__p {
  margin: 1em 0 0 0;
}
/********************  Blog end **********************/

/********************  Page information formating end **********************/

/********************  Prices formating start **********************/

.prices-content {
  background-image: url(/img/prices/prices-bg.webp);
  padding: 7% 13% 33% 13%;
  margin-top: -4%;
}

.prices-content__iTextBox__div {
  border-radius: 3.5em;
}

.prices-content__iTextBox__div__actionImg {
  right: -7%;
  width: 27%;
}

.prices-content__iTextBox__div__img {
  width: 37%;
  height: 30%;
  display: block;
  margin: auto;
  padding: 17% 0 0 0;
}

.prices-content__iTextBox__div__h6 {
  padding: 10% 10% 0% 10%;
}

.prices-content__iTextBox__div__prices-box {
  height: 30%;
  bottom: 0;
  padding: 15% 10% 0 10%;
}

.prices-content__iTextBox__div__prices-box--actionBG {
  background: #eb5858;
}

.prices-content__lBox {
  padding: 3% 0 3% 0;
}

/********************  Prices formating end **********************/

/********************  Footer formating start **********************/

/********************  Footer formating end **********************/

/********************  Subpage formating start **********************/

/********************  Subpage formating formating end **********************/

/********************  Media formating start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
}

@media (min-width: 2000px) and (max-width: 2200px) {
}

@media (min-width: 1800px) and (max-width: 2000px) {
}

@media (min-width: 1600px) and (max-width: 1800px) {
}

@media (min-width: 1500px) and (max-width: 1600px) {
}

@media (min-width: 1400px) and (max-width: 1500px) {
}

@media (min-width: 1200px) and (max-width: 1400px) {
}

@media (min-width: 991px) and (max-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu__item {
    font-weight: 600;
  }
  .menu__item {
    font-size: 1rem;
  }
  .header-content {
    padding: 2em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__logo-box,
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #001647;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .menu__item--border-left {
    border-left: unset;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
  }
  .header-content__logo-box__link__img {
    width: 17em;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .page__header {
    width: 30%;
  }
  .page__header__h2,
  .page__header__h3 {
    font-size: 1.3rem;
  }
  .page__header.page__header--right {
    width: 40%;
    padding: 0.7em 5em 0.7em 2.5em;
  }
  .page__header--right {
    top: -1%;
  }
  .page__header--right--format {
    top: -2.3%;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .menu__item {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .menu__item {
    font-weight: 600;
  }
  .menu__item {
    font-size: 1rem;
  }
  .header-content {
    padding: 2em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__logo-box,
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #001647;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .menu__item--border-left {
    border-left: unset;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
  }
  .header-content__logo-box__link__img {
    width: 17em;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .page__header {
    width: 30%;
  }
  .page__header__h2,
  .page__header__h3 {
    font-size: 1.3rem;
  }
  .page__header.page__header--right {
    width: 40%;
    padding: 0.7em 5em 0.7em 2.5em;
  }
  .page__header--right {
    top: -1%;
  }
  .page__header--right--format {
    top: -2.3%;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .menu__item {
    font-size: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
}

@media (min-width: 500px) and (max-width: 640px) {
}

@media (min-width: 400px) and (max-width: 500px) {
}

@media (min-width: 300px) and (max-width: 400px) {
}

/********************  Media formating end **********************/

/********************  Boaz formating end **********************/
