/********************  Boaz formating start **********************/

body {
  max-width: 2570px;
  margin: auto;
}

body,
input,
textarea,
button {
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 13px;
  background: white;
  border-left: 0 solid white;
  border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #1f447a, #1f447a, #1f447a);
  background-size: 180% 180%;
  width: 0;
  height: 25%;
  animation: gradient-animation 5s ease infinite;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h2,
h3,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
}

button {
  background-color: transparent;
  border: 0;
}

ul {
  list-style: none;
}

.cursor {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.grid-2,
.grid-3,
.grid-6,
.grid-7 {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.float-right {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.t-end {
  text-align: end;
}

.t-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.animate-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.bg-color-w {
  background-color: #fff;
}

.text-color {
  color: #1e1e1e;
}

.text-color-w {
  color: #fff;
}

.linear-font {
  background: linear-gradient(100deg, #428af5, #428af5, #428af5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

.f-800 {
  font-weight: 800;
}

/********************   Animation formating start **********************/

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/********************   Animation formating end **********************/

/********************  Identical instructions start **********************/

.services-content__iTextBox-content__tBox__p,
.footer-content__bottom__infoBox__copyRBox__h6,
.footer-content__bottom__infoBox__header__socialBox__p,
.content__bottom__infoBox__header__lBox__p {
  margin: 0;
}

.footer-content__bottom__mapBox__iframe {
  border: 0;
}

.slider-content__img,
.services-content__linkItextBox__content__img,
.services-content__linkItextBox__content__tBox,
.prices-content__iTextBox__div__prices-box,
.page-information-content__blog-content__gBox__iTextBox__img,
.footer-content__img-box__img,
.form-group__input,
.form-group__textarea,
.footer-content__bottom__mapBox__iframe {
  width: 100%;
}

.slider-content__img,
.services-content__linkItextBox__content__img,
.footer-content__img-box__img,
.footer-content__bottom__mapBox__iframe {
  height: 100%;
}

.services-content__iTextBox-content,
.contact-form__link-box {
  align-items: center;
}

.services-content__iTextBox,
.services-content__linkItextBox,
.prices-content__iTextBox,
.page-information-content__blog-content__gBox {
  gap: 1em;
}

.services-content__iTextBox-content,
.page-information-content__iTextBox,
.prices-content__iTextBox__div,
.page-information-content__blog-content__gBox__iTextBox__tBox,
.page-information-content__blog-content__gBox__iTextBox__img,
.footer-content__text-box,
.footer-content__img-box__img,
.footer-content__bottom__infoBox__header,
.footer-content__bottom__mapBox__iframe,
.supage-content__img {
  box-shadow: 0em 0.25em 0.8em 0em rgba(0, 0, 0, 0.1);
}

.footer-content__img-box__img {
  object-fit: cover;
}

.services-content__h3,
.prices-content__h3,
.page-information-content__blog-content__h3,
.footer-content__h3 {
  margin: 3.2% 0 4.2% 0;
}

.prices-content__iTextBox__div__prices-box,
.footer-content__bottom__infoBox__header {
  background: #428af5;
}

.prices-content,
.page-information-content--bg,
.footer-content {
  background-size: cover;
}

.page-information-content__iTextBox--format,
.page-information-content__blog-content__gBox__iTextBox__tBox {
  text-align: left;
}

.page-information-content__blog-content__gBox__iTextBox__tBox,
.footer-content__text-box,
.footer-content__bottom__infoBox__menuBox {
  background: #1f447a;
}

.prices-content__iTextBox__div__prices-box,
.page-information-content__blog-content__gBox__iTextBox__tBox {
  border-bottom-left-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
}

.page-information-content__blog-content__gBox__iTextBox__img,
.footer-content__bottom__mapBox__iframe {
  border-top-left-radius: 3.5em;
  border-top-right-radius: 3.5em;
}

.header,
.page-information-content__blog-content__gBox,
.footer-content__img-box {
  z-index: 10;
}

.services-content__iTextBox-content,
.services-content__linkItextBox__content__img,
.supage-content__img {
  border-radius: 1.7em;
}

.footer-content__bottom__infoBox__header {
  border-top-left-radius: 3.5em;
}

.page-link {
  background: #fff;
  color: #1e1e1e;
  padding: 0.7em 2em;
  border-radius: 2em;
}

.page-link--format {
  background: #428af5;
  color: #fff;
}

.prices-content__iTextBox__div,
.footer-content__text-box,
.footer-content__img-box__img,
.form-group__input {
  border-radius: 3.5em;
}

.page-information-content__iTextBox {
  border-radius: 5em;
}

/********************  Identical instructions end **********************/

/********************  Header formating start **********************/

.header {
  height: 0;
}

.header-content {
  padding: 2% 4% 0 4%;
}

.header-content,
.header-content__nav-box,
.menu__list {
  align-items: center;
}

.header-content__logo-box {
  width: 10%;
}

.header-content__nav-box {
  width: 90%;
  justify-content: end;
  padding-right: 1.5em;
}

.header-content__logo-box__link__img {
  width: 55%;
}

.menu__list {
  padding: 0;
  justify-content: end;
}

.menu__item {
  padding-left: 2em;
}

.menu__list__li__img {
  width: 45%;
}

/********************  Header formating end **********************/

/********************  Slider formating start **********************/

.slider-content__tBox {
  top: 50%;
  transform: translateY(-50%);
  left: 11%;
  width: 33em;
}

.slider-content__tBox__h5 {
  width: max-content;
}

.slider-content__tBox__topImg {
  width: 90%;
  top: -45%;
  left: -9%;
}

.slider-content__tBox__nextTopImg {
  right: 20%;
  width: 30%;
}

.slider-content__tBox__lBox {
  margin-top: 7%;
}

.slider-content__tBox__h1 {
  margin: 5% 0 5% 0;
}
/********************  Slider formating end **********************/

/********************  Services formating start **********************/

.services-content {
  padding: 0 4%;
  margin-top: -4.2%;
}

.services-content__iTextBox-content {
  padding: 7%;
}

.services-content__iTextBox-content__iBox__img {
  width: 3em;
}

.services-content__iTextBox-content__tBox {
  padding-left: 1em;
}

.services-content__linkItextBox {
  padding: 0 7% 2% 7%;
}

.services-content__linkItextBox__content__tBox {
  background-color: rgba(30, 30, 30, 0.6);
  bottom: 0;
  padding: 9%;
  border-bottom-left-radius: 1.7em;
  border-bottom-right-radius: 1.7em;
}

.services-content__iTextBox-content__tBox__h2 {
  font-size: 1rem;
  margin-bottom: 4%;
}

/********************  Services formating end **********************/

/********************  Page information formating start **********************/

.page-information-content {
  padding: 9% 4% 0 4%;
}

.page-information-content__img {
  width: 70%;
}

.page-information-content__iTextBox {
  width: 45%;
  padding: 4% 4% 7% 4%;
  top: 7%;
  right: 4%;
}

.page-information-content--bg {
  background-image: url(/img/page-information/page-information-bg.webp);
  margin-top: -20%;
}

.page-information-content__iTextBox--format {
  right: unset;
  top: -7%;
}

.page-information-content--format {
  padding: 0 4% 0 4%;
}

.page-information-content__iTextBox__link-box {
  margin-top: 7%;
}

/********************  Blog start **********************/

.page-information-content__blog-content__gBox__iTextBox__img {
  height: 60%;
}

.page-information-content__blog-content__gBox__iTextBox__tBox {
  margin-top: -13px;
  padding: 7% 7% 7% 7%;
}

.page-information-content__blog-content__gBox__iTextBox__tBox__p {
  margin: 1em 0 0 0;
}

.page-information-content__blog-content {
  padding-bottom: 13%;
}
/********************  Blog end **********************/

/********************  Page information formating end **********************/

/********************  Prices formating start **********************/

.prices-content {
  background-image: url(/img/prices/prices-bg.webp);
  padding: 7% 13% 33% 13%;
  margin-top: -4%;
}

.prices-content__h3--mt0 {
  margin-top: 0;
}

.prices-content__iTextBox__div__actionImg {
  right: -7%;
  width: 27%;
}

.prices-content__iTextBox__div__img {
  width: 37%;
  height: 30%;
  display: block;
  margin: auto;
  padding: 17% 0 0 0;
}

.prices-content__iTextBox__div__h6 {
  padding: 10% 10% 0% 10%;
}

.prices-content__iTextBox__div__prices-box {
  height: 30%;
  bottom: 0;
  padding: 15% 10% 0 10%;
}

.prices-content__iTextBox__div__prices-box--actionBG {
  background: #eb5858;
}

.prices-content__lBox {
  padding: 7% 0 3% 0;
}

/********************  Prices formating end **********************/

/********************  Footer formating start **********************/
.footer-content {
  background-image: url(/img/footer/footer-bg.webp);
  padding: 18% 4% 0 4%;
  margin-top: -25%;
}

.footer-content__h3--mb-format {
  margin-bottom: 3%;
}

.footer-content__text-box__h6 {
  margin-bottom: 1.7em;
}

.contact-form__link-box {
  margin-top: 1em;
  justify-content: space-between;
}

.footer-link {
  margin-bottom: 0.7em;
}

.contact-form__link-box__text-box {
  width: 70%;
}

.footer-content__flex-box__blank-div {
  width: 50%;
}

.footer-content__img-box {
  width: 50%;
}

.footer-content__text-box {
  width: 54%;
  padding: 3.5% 5.5% 2% 11.5%;
  margin: 3% 0 3% -4%;
}

.footer-content__text-box__p {
  padding: 0;
  margin: 0 0 5% 0;
}

.contact-form__link-box__text-box__p {
  margin-top: 2.5%;
}

.form-group__input,
.form-group__textarea {
  border: 0;
  background: #f7f7f7;
}

.form-group__input {
  padding: 1em 2em;
  margin-bottom: 2.5%;
}

.form-group__textarea {
  border-radius: 3em;
  padding: 2em;
}

.form-group__input::-webkit-input-placeholder,
.form-group__textarea::-webkit-input-placeholder {
  color: #9d9d9d;
}

.footer-content__bottom {
  margin-top: 7%;
}

.footer-content__bottom__infoBox,
.footer-content__bottom__mapBox {
  width: 50%;
}

.footer-content__bottom__infoBox {
  margin-top: 5%;
}

.footer-content__bottom__infoBox__header__lBox {
  width: 80%;
  padding-left: 10%;
}

.footer-content__bottom__infoBox__header__iBox,
.footer-content__bottom__infoBox__header__socialBox {
  width: 20%;
}

.footer-content__bottom__infoBox__header {
  padding: 3% 0 3% 10%;
  align-items: flex-end;
}

.footer-content__bottom__infoBox__header__iBox__img {
  width: 85%;
}

.footer-content__bottom__infoBox__header__socialBox__img {
  width: 23%;
}

.footer-content__bottom__infoBox__header__socialBox__img--format {
  width: 27%;
  margin-left: -1%;
}

.footer-content__bottom__infoBox__menuBox {
  padding: 5%;
}

.footer-content__bottom__infoBox__header__lBox__img {
  width: 5%;
}
.footer-content__bottom__infoBox__copyRBox__h6 {
  padding: 2% 5% 2% 5%;
}

.footer-content__bottom__infoBox__bodyLinkBox {
  margin-top: 3%;
}

.footer-content__bottom__infoBox__header__lBox__img {
  width: 5%;
  margin: 0 0 -1% 1%;
}

.footer-content__bottom__infoBox__header__lBox__p__link--format {
  text-decoration: underline;
}

.footer-content__bottom__infoBox__link,
.footer-content__bottom__infoBox__bodyLinkBox__link {
  margin-right: 5%;
}

.footer-content__bottom__infoBox__copyRBox__span {
  margin-right: 1%;
}
/********************  Footer formating end **********************/

/********************  Subpage formating start **********************/

.header-content-bg-special {
  background: #1f447a;
  padding-bottom: 1.7em;
}

.footer-content-margin-special {
  margin-top: 0;
}

.supage-content {
  padding: 13% 4% 23% 4%;
}

.supage-content__img {
  margin: 3% 0 1% 0;
  width: 70%;
}

.supage-content__ul {
  margin-bottom: 3%;
}

.supage-content__ul__li {
  margin-bottom: 1.5%;
}

.supage-content__h6 {
  margin: 3% 0;
}

.go-back-button {
  align-items: center;
  background-color: #1f447a;
  border-radius: 5px;
  color: #fff;
  display: inline-flex;
  margin-top: 40px;
  overflow: hidden;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.go-back-button:hover {
  background-color: #1f447a;
  box-shadow: 0 2px 5px #0000001a;
}

.go-back-button__icon {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.go-back-button:hover .go-back-button__icon {
  transform: translate(-5px);
}

.go-back-button__text {
  position: relative;
  z-index: 1;
}

/********************  Subpage formating formating end **********************/

/********************  Media formating start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 1.5rem;
  }
  .slider-content__tBox__h1 {
    font-size: 4rem;
    width: 5em;
    margin: 5% 0 5% 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.9rem;
  }
  .slider-content__tBox {
    width: 50em;
  }
  .slider-content__tBox__p {
    width: 35em;
  }
  .slider-content__tBox__nextTopImg {
    right: -3%;
    top: -13%;
  }
  .slider-content__tBox__topImg {
    top: -30%;
    left: -13%;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 4em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1.5rem;
  }
  .slider-content__tBox__lBox {
    margin-top: 6%;
  }
  .services-content__h3,
  .services-content__linkItextBox__content__tBox__link,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .supage-content__h2,
  .supage-content__h3,
  .supage-content__h4,
  .supage-content__h5,
  .supage-content__h6 {
    font-size: 1.8rem;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.7rem;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 1.5rem;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 2rem;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 1.4rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 1.2rem;
  }
}

@media (min-width: 2000px) and (max-width: 2200px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 1.4rem;
  }
  .slider-content__tBox__h1 {
    font-size: 3.7rem;
    width: 5em;
    margin: 4% 0 4% 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.6rem;
  }
  .slider-content__tBox {
    width: 50em;
  }
  .slider-content__tBox__p {
    width: 35em;
  }
  .slider-content__tBox__nextTopImg {
    right: -3%;
    top: -13%;
    width: 27%;
  }
  .slider-content__tBox__topImg {
    top: -30%;
    left: -13%;
  }
  .slider-content__tBox__lBox {
    margin-top: 5%;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 4em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1.5rem;
  }
  .services-content__h3,
  .services-content__linkItextBox__content__tBox__link,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .supage-content__h2,
  .supage-content__h3,
  .supage-content__h4,
  .supage-content__h5,
  .supage-content__h6 {
    font-size: 1.7rem;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.5rem;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 1.4rem;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1.9rem;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 1.2rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1800px) and (max-width: 2000px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 1.3rem;
  }
  .slider-content__tBox__h1 {
    font-size: 3.5rem;
    width: 5em;
    margin: 3% 0 3% 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.4rem;
  }
  .slider-content__tBox {
    width: 50em;
  }
  .slider-content__tBox__p {
    width: 35em;
  }
  .slider-content__tBox__nextTopImg {
    right: 10%;
    top: -13%;
    width: 25%;
  }
  .slider-content__tBox__topImg {
    top: -30%;
    left: -13%;
    width: 75%;
  }
  .slider-content__tBox__lBox {
    margin-top: 5%;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 3em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1.4rem;
  }
  .services-content__h3,
  .services-content__linkItextBox__content__tBox__link,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .supage-content__h2,
  .supage-content__h3,
  .supage-content__h4,
  .supage-content__h5,
  .supage-content__h6 {
    font-size: 1.6rem;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.4rem;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 1.2rem;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1.7rem;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 1.1rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 1rem;
  }
}

@media (min-width: 1600px) and (max-width: 1800px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 1.1rem;
  }
  .header-content__logo-box__link__img {
    width: 50%;
  }
  .slider-content__tBox__h1 {
    font-size: 3.1rem;
    width: 5em;
    margin: 3% 0 3% 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.3rem;
  }
  .slider-content__tBox {
    width: 50em;
  }
  .slider-content__tBox__p {
    width: 35em;
  }
  .slider-content__tBox__nextTopImg {
    right: 25%;
    top: -13%;
    width: 20%;
  }
  .slider-content__tBox__topImg {
    top: -30%;
    left: -13%;
    width: 62%;
  }
  .slider-content__tBox__lBox {
    margin-top: 4%;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 2.5em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1.2rem;
  }
  .services-content__h3,
  .services-content__linkItextBox__content__tBox__link,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .supage-content__h2,
  .supage-content__h3,
  .supage-content__h4,
  .supage-content__h5,
  .supage-content__h6 {
    font-size: 1.4rem;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.3rem;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 1.1rem;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1.5rem;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 1rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 1.1rem;
  }
  .header-content__logo-box__link__img {
    width: 50%;
  }
  .slider-content__tBox__h1 {
    font-size: 3rem;
    width: 5em;
    margin: 2% 0 2% 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.3rem;
  }
  .slider-content__tBox {
    width: 50em;
  }
  .slider-content__tBox__p {
    width: 35em;
  }
  .slider-content__tBox__nextTopImg {
    right: 23%;
    top: -13%;
    width: 23%;
  }
  .slider-content__tBox__topImg {
    top: -40%;
    left: -13%;
    width: 67%;
  }
  .slider-content__tBox__lBox {
    margin-top: 4%;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 2.5em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1.2rem;
  }
  .services-content__h3,
  .services-content__linkItextBox__content__tBox__link,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .supage-content__h2,
  .supage-content__h3,
  .supage-content__h4,
  .supage-content__h5,
  .supage-content__h6 {
    font-size: 1.3rem;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.2rem;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 1rem;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1.4rem;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 0.9rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 1rem;
  }
  .header-content__logo-box__link__img {
    width: 50%;
  }
  .slider-content__tBox__h1 {
    font-size: 2.8rem;
    width: 5em;
    margin: 2% 0 2% 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.2rem;
  }
  .slider-content__tBox {
    width: 50em;
  }
  .slider-content__tBox__p {
    width: 35em;
  }
  .slider-content__tBox__nextTopImg {
    right: 33%;
    top: -13%;
    width: 20%;
  }
  .slider-content__tBox__topImg {
    top: -30%;
    left: -13%;
    width: 60%;
  }
  .slider-content__tBox__lBox {
    margin-top: 4%;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 2.5em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1.1rem;
  }
  .services-content__h3,
  .services-content__linkItextBox__content__tBox__link,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .supage-content__h2,
  .supage-content__h3,
  .supage-content__h4,
  .supage-content__h5,
  .supage-content__h6 {
    font-size: 1.2rem;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.1rem;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 1rem;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1.4rem;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 0.9rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 1rem;
  }
  .header-content__logo-box__link__img {
    width: 50%;
  }
  .slider-content__tBox__h1 {
    font-size: 2.7rem;
    width: 5em;
    margin: 2% 0 2% 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.2rem;
  }
  .slider-content__tBox {
    width: 50em;
  }
  .slider-content__tBox__p {
    width: 35em;
  }
  .slider-content__tBox__nextTopImg {
    right: 40%;
    top: -13%;
    width: 18%;
  }
  .slider-content__tBox__topImg {
    top: -30%;
    left: -13%;
    width: 55%;
  }
  .slider-content__tBox__lBox {
    margin-top: 4%;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 2em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1rem;
  }
  .services-content__iTextBox-content__tBox__link {
    font-size: 0.9rem;
  }
  .services-content__h3,
  .services-content__linkItextBox__content__tBox__link,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .supage-content__h2,
  .supage-content__h3,
  .supage-content__h4,
  .supage-content__h5,
  .supage-content__h6 {
    font-size: 1.1rem;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.1rem;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 0.9rem;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1.3rem;
  }
  .prices-content {
    padding: 7% 9% 33% 9%;
  }
  .footer-content {
    padding: 24% 4% 0 4%;
    margin-top: -28%;
  }
  .footer-content__bottom__infoBox__header {
    padding: 3% 0 3% 9%;
  }
  .footer-content__bottom__infoBox__header__lBox {
    padding-left: 5%;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 0.7rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 0.7rem;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 0.9rem;
  }
  .header-content__logo-box__link__img {
    width: 60%;
  }
  .slider-content__tBox__h1 {
    font-size: 2.7rem;
    width: 5em;
    margin: 2% 0 2% 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.2rem;
  }
  .slider-content__tBox {
    width: 50em;
  }
  .slider-content__tBox__p {
    width: 35em;
  }
  .slider-content__tBox__nextTopImg {
    right: 50%;
    top: -3%;
    width: 15%;
  }
  .slider-content__tBox__topImg {
    top: -24%;
    left: -8%;
    width: 45%;
  }
  .slider-content__tBox__lBox {
    margin-top: 4%;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 2em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1rem;
  }
  .services-content__iTextBox-content__tBox__link {
    font-size: 0.9rem;
  }
  .services-content__h3,
  .services-content__linkItextBox__content__tBox__link,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .supage-content__h2,
  .supage-content__h3,
  .supage-content__h4,
  .supage-content__h5,
  .supage-content__h6 {
    font-size: 1rem;
  }
  .services-content__h3,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3 {
    margin: 4.2% 0 5.2% 0;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.1rem;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 0.8rem;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1rem;
  }
  .prices-content {
    padding: 7% 9% 33% 9%;
  }
  .footer-content {
    padding: 29% 4% 0 4%;
    margin-top: -32%;
  }
  .footer-content__bottom__infoBox__header {
    padding: 3% 0 3% 9%;
  }
  .footer-content__bottom__infoBox__header__lBox {
    padding-left: 2%;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 0.6rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 0.9rem;
  }
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-3,
  .grid-6 {
    grid-template-columns: repeat(2, 1fr);
  }
  .services-content__iTextBox {
    gap: 2em;
  }
  .services-content__linkItextBox,
  .prices-content__iTextBox,
  .page-information-content__blog-content__gBox {
    gap: 4em;
  }
  .menu__item {
    font-weight: 600;
  }
  .menu__item {
    font-size: 1rem;
  }
  .header-content {
    padding: 1em 7%;
    align-items: center;
  }

  .header-content__logo-box,
  .header-content__nav-box,
  .page-information-content__img,
  .page-information-content__iTextBox,
  .prices-content__iTextBox__div__h6,
  .footer-content__img-box,
  .footer-content__text-box,
  .footer-content__bottom__infoBox,
  .footer-content__bottom__mapBox {
    width: 100%;
  }
  .footer-content__img-box__img {
    display: none;
  }
  .hamburger,
  .footer-content__flex-box,
  .menu__list,
  .footer-content__bottom,
  .footer-content__bottom__infoBox__menuBox,
  .footer-content__bottom__infoBox__bodyLinkBox {
    flex-direction: column;
  }
  .footer-content__bottom__infoBox__menuBox,
  .footer-content__bottom__infoBox__bodyLinkBox {
    display: flex;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
    justify-content: unset;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #1f447a;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .menu__item--border-left {
    border-left: unset;
  }
  .hamburger {
    display: flex;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
    border-radius: 0.5em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .header-content__logo-box__link__img {
    width: 7em;
    padding: 1em;
  }
  .page__header {
    width: 30%;
  }
  .page__header__h2,
  .page__header__h3 {
    font-size: 1.3rem;
  }
  .page__header.page__header--right {
    width: 40%;
    padding: 0.7em 5em 0.7em 2.5em;
  }
  .page-information-content__iTextBox {
    border-radius: 1.5em;
  }
  .page__header--right {
    top: -1%;
  }
  .page__header--right--format {
    top: -2.3%;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .menu__item {
    font-size: 1rem;
  }
  .slider-content__tBox {
    top: 0;
    transform: translateY(0);
    left: 0;
    width: 100%;
    position: relative;
    background: #1f447a;
    padding: 5% 10% 13% 10%;
    margin-top: -0.5em;
  }
  .slider-content__tBox__nextTopImg {
    right: 0%;
    width: 12em;
    top: -70%;
    left: 7%;
  }
  .slider-content__tBox__topImg {
    width: 40%;
    top: 3%;
    left: 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.2rem;
  }
  .slider-content__tBox__h1 {
    margin: 4% 0 2% 0;
    width: 8em;
    font-size: 2rem;
  }
  .slider-content__tBox__p {
    width: 33em;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 3em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 1.2rem;
    margin-bottom: 4%;
  }
  .services-content__h3,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3 {
    margin: 10% 0 7% 0;
  }
  .services-content__h3,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .services-content__linkItextBox__content__tBox,
  .supage-content__h2 {
    font-size: 1.3rem;
  }
  .services-content__linkItextBox__content__tBox {
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
  }
  .services-content__iTextBox-content,
  .services-content__linkItextBox__content__img {
    border-radius: 1.5em;
  }
  .page-information-content__iTextBox {
    position: relative;
    right: 0;
    width: 100%;
    padding: 7% 10% 17% 10%;
  }
  .page-information-content__iTextBox__link-box {
    margin-top: 13%;
  }
  .page-information-content__blog-content__gBox__iTextBox {
    margin-bottom: 27%;
  }
  .services-content {
    padding: 0 4%;
  }
  .page-information-content {
    padding: 0 7% 0 7%;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.1rem;
  }
  .prices-content__iTextBox__div,
  .footer-content__text-box,
  .footer-content__img-box__img,
  .form-group__input {
    border-radius: 1.5em;
  }
  .prices-content__iTextBox__div__prices-box,
  .page-information-content__blog-content__gBox__iTextBox__tBox {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }
  .services-content__linkItextBox {
    padding: 4%;
  }
  .page-information-content__img {
    margin: 4% 0 7% 0;
  }
  .prices-content__iTextBox__div {
    height: 100%;
    margin-bottom: 1em;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 1rem;
  }
  .prices-content__iTextBox__div__img {
    width: 40%;
    height: 34%;
  }
  .prices-content__iTextBox__div__prices-box {
    padding: 11% 10% 0 10%;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1.4rem;
  }
  .prices-content {
    padding: 7% 7% 40% 7%;
  }
  .page-information-content--bg {
    margin-top: -30%;
  }
  .page-information-content__blog-content__gBox__iTextBox__img,
  .footer-content__bottom__mapBox__iframe {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
  }
  .footer-content {
    padding: 1% 7% 0 7%;
    margin-top: -10%;
    background: #d1edff;
  }
  .footer-content__h3--mb-format {
    margin-bottom: 40% !important;
  }
  .footer-content__bottom__infoBox__header {
    padding: 5% 0 5% 7%;
  }
  .footer-content__bottom__infoBox__header__lBox {
    padding-left: 5%;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 0.9rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 0.8rem;
  }
  .footer-content__text-box {
    margin: -25% 0 0 0%;
    position: relative;
    padding: 9% 7% 20% 7%;
  }
  .footer-content__bottom__infoBox {
    order: 2;
  }
  .footer-content__bottom__mapBox {
    order: 1;
    position: relative;
  }
  .footer-content__bottom__infoBox {
    margin-top: -0.5%;
  }
  .footer-content__bottom__infoBox__header {
    border-top-left-radius: 0;
  }
  .footer-content__bottom__infoBox__header__lBox__p__link {
    font-size: 0.8rem;
  }
  .footer-content__bottom__infoBox__header__iBox__img {
    width: 90%;
  }
  .footer-content__bottom__infoBox__header__socialBox__img {
    width: 29%;
  }
  .footer-content__bottom__infoBox__header__socialBox__img--format {
    width: 34% !important;
    margin-left: -1%;
  }
  .footer-content__bottom__infoBox__header__lBox__img {
    width: 9%;
    margin: 0 0 -2% 1%;
  }
  .footer-content__bottom {
    margin-top: 10%;
  }
  .footer-content__bottom__infoBox__menuBox {
    padding: 10% 7%;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    margin: 0 0 3% 0;
  }
  .page-information-content__blog-content__gBox,
  .footer-content__img-box {
    z-index: 0;
  }
}

@media screen and (max-width: 767px) {
  p,
  .page-link,
  .menu__item,
  .form-group__input,
  .form-group__textarea,
  .supage-content__ul__li {
    font-size: 0.9rem;
  }
  .grid-3,
  .grid-6,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .services-content__iTextBox,
  .services-content__linkItextBox,
  .prices-content__iTextBox,
  .page-information-content__blog-content__gBox {
    gap: 2em;
  }
  .menu__item {
    font-weight: 600;
  }
  .menu__item {
    font-size: 1rem;
  }
  .header-content {
    padding: 0 2em;
    align-items: center;
  }

  .header-content__logo-box,
  .header-content__nav-box,
  .page-information-content__img,
  .page-information-content__iTextBox,
  .prices-content__iTextBox__div__h6,
  .footer-content__img-box,
  .footer-content__text-box,
  .footer-content__bottom__infoBox,
  .footer-content__bottom__mapBox {
    width: 100%;
  }
  .footer-content__img-box__img {
    display: none;
  }
  .hamburger,
  .footer-content__flex-box,
  .menu__list,
  .footer-content__bottom,
  .footer-content__bottom__infoBox__menuBox,
  .footer-content__bottom__infoBox__bodyLinkBox {
    flex-direction: column;
  }
  .footer-content__bottom__infoBox__menuBox,
  .footer-content__bottom__infoBox__bodyLinkBox {
    display: flex;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
    justify-content: unset;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #1f447a;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .menu__item--border-left {
    border-left: unset;
  }
  .hamburger {
    display: flex;
    justify-content: space-around;
    width: 4em;
    height: 3.5em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
    border-radius: 0.5em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .header-content__logo-box__link__img {
    width: 6em;
    padding: 1em;
  }
  .page__header {
    width: 30%;
  }
  .page__header__h2,
  .page__header__h3 {
    font-size: 1.3rem;
  }
  .page__header.page__header--right {
    width: 40%;
    padding: 0.7em 5em 0.7em 2.5em;
  }
  .page-information-content__iTextBox {
    border-radius: 1.5em;
  }
  .page__header--right {
    top: -1%;
  }
  .page__header--right--format {
    top: -2.3%;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .menu__item {
    font-size: 1rem;
  }
  .slider-content__tBox {
    top: 0;
    transform: translateY(0);
    left: 0;
    width: 100%;
    position: relative;
    background: #1f447a;
    padding: 2.5em 2.5em 4em 2.5em;
    margin-top: -0.5em;
  }
  .slider-content__tBox__nextTopImg {
    right: 0%;
    width: 9em;
    top: -60%;
    left: 10%;
  }
  .slider-content__tBox__topImg {
    width: 50%;
    top: 0;
    left: 0;
  }
  .slider-content__tBox__h5 {
    font-size: 1.2rem;
  }
  .slider-content__tBox__h1 {
    margin: 4% 0 2% 0;
    width: 8em;
    font-size: 1.7rem;
  }
  .slider-content__tBox__p {
    width: 100%;
  }
  .slider-content__img {
    height: 25em;
    object-fit: cover;
  }
  .services-content__iTextBox-content__iBox__img {
    width: 2em;
  }
  .services-content__iTextBox-content__tBox__h2 {
    font-size: 0.9rem;
    margin-bottom: 4%;
  }
  .services-content__h3,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3 {
    margin: 15% 0 13% 0;
  }
  .services-content__h3,
  .prices-content__h3,
  .page-information-content__blog-content__h3,
  .footer-content__h3,
  .services-content__linkItextBox__content__tBox,
  .supage-content__h2 {
    font-size: 1.1rem;
  }
  .services-content__linkItextBox__content__tBox {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }
  .services-content__iTextBox-content,
  .services-content__linkItextBox__content__img {
    border-radius: 1.5em;
  }
  .page-information-content__iTextBox {
    position: relative;
    right: 0;
    width: 100%;
    padding: 7% 10% 25% 10%;
  }
  .page-information-content__iTextBox__link-box {
    margin-top: 13%;
  }
  .page-information-content__blog-content__gBox__iTextBox {
    margin-bottom: 27%;
  }
  .services-content {
    padding: 0 4%;
  }
  .page-information-content {
    padding: 0 7% 0 7%;
  }
  .page-information-content__iTextBox__h4,
  .page-information-content__blog-content__gBox__iTextBox__tBox__h5,
  .footer-content__text-box__h6 {
    font-size: 1.1rem;
  }
  .prices-content__iTextBox__div,
  .footer-content__text-box,
  .footer-content__img-box__img,
  .form-group__input {
    border-radius: 1.5em;
  }
  .prices-content__iTextBox__div__prices-box,
  .page-information-content__blog-content__gBox__iTextBox__tBox {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }
  .services-content__linkItextBox {
    padding: 4%;
  }
  .page-information-content__img {
    margin: 6% 0 9% 0;
  }
  .prices-content__iTextBox__div {
    height: 100%;
    margin-bottom: 1em;
  }
  .prices-content__iTextBox__div__h6 {
    font-size: 1rem;
  }
  .prices-content__iTextBox__div__img {
    width: 40%;
    height: 34%;
  }
  .prices-content__iTextBox__div__prices-box {
    padding: 11% 10% 0 10%;
  }
  .prices-content__iTextBox__div__prices-box__h3 {
    font-size: 1.4rem;
  }
  .prices-content {
    padding: 7% 7% 40% 7%;
  }
  .page-information-content--bg {
    margin-top: -30%;
  }
  .page-information-content__blog-content__gBox__iTextBox__img,
  .footer-content__bottom__mapBox__iframe {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
  }
  .footer-content {
    padding: 1% 7% 0 7%;
    margin-top: -10%;
    background: #d1edff;
  }
  .footer-content__h3--mb-format {
    margin-bottom: 40% !important;
  }
  .footer-content__bottom__infoBox__header {
    padding: 5% 0 5% 7%;
  }
  .footer-content__bottom__infoBox__header__lBox {
    padding-left: 5%;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    font-size: 0.9rem;
  }
  .footer-content__bottom__infoBox__copyRBox__h6 {
    font-size: 0.8rem;
  }
  .footer-content__text-box {
    margin: -25% 0 0 0%;
    position: relative;
    padding: 9% 7% 20% 7%;
  }
  .footer-content__bottom__infoBox {
    order: 2;
  }
  .footer-content__bottom__mapBox {
    order: 1;
    position: relative;
  }
  .footer-content__bottom__infoBox {
    margin-top: -0.5%;
  }
  .footer-content__bottom__infoBox__header {
    border-top-left-radius: 0;
  }
  .footer-content__bottom__infoBox__header__lBox__p__link {
    font-size: 0.8rem;
  }
  .footer-content__bottom__infoBox__header__iBox__img {
    width: 90%;
  }
  .footer-content__bottom__infoBox__header__socialBox__img {
    width: 29%;
  }
  .footer-content__bottom__infoBox__header__socialBox__img--format {
    width: 34% !important;
    margin-left: -1%;
  }
  .footer-content__bottom__infoBox__header__lBox__img {
    width: 9%;
    margin: 0 0 -2% 1%;
  }
  .footer-content__bottom {
    margin-top: 10%;
  }
  .footer-content__bottom__infoBox__menuBox {
    padding: 10% 7%;
  }
  .footer-content__bottom__infoBox__link,
  .footer-content__bottom__infoBox__bodyLinkBox__link {
    margin: 0 0 3% 0;
  }
  .page-information-content__blog-content__gBox,
  .footer-content__img-box {
    z-index: 0;
  }
  .supage-content__img {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
}

@media (min-width: 500px) and (max-width: 640px) {
}

@media (min-width: 400px) and (max-width: 500px) {
}

@media (min-width: 300px) and (max-width: 400px) {
}

/********************  Media formating end **********************/

/********************  Boaz formating end **********************/
